/*
 * Colors palette
 */

$background_color: #121212; // TODO: may be should be changed to 212121 (cs)
$grey_color_primary: #9E9E9E;
$grey_color_secondary: #EEEEEE; // TODO: check usage
$blue_color_primary: #2196F3;
$blue_color_secondary: #90CAF9; // TODO: check usage
$header_color: #FFFFFF;
$main_content_color: #F5F5F5;

html,
body {
    background-color: $background_color;
    color: $main_content_color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $header_color !important;
    }

    .md-nav.md-nav--primary,
    .md-nav.md-nav--secondary {
        background-color: inherit;
    }
}

.toctree-wrapper {
    .reference.internal {
        color: $grey_color_primary;

        &:hover {
            color: $blue_color_primary;
        }
    }
}

.md-nav.md-nav--primary {
    .md-nav__link {
        padding: 0 0.25rem;
        &:hover {
            color: $blue_color_primary;
        }
    }

    .md-nav__link.md-nav__link--active {
        color: $grey_color_secondary;
        background-color: $grey_color_primary;
        padding: 0.1rem 0.2rem;
        &:hover {
            color: $blue_color_primary;
        }
    }
}
