# ide configuration files
/.vscode/
/.idea/

# virtual environment
/venv/
/env/

# temporary files storage
/temp/
/tmp/

# builds folders
_builds/*
_build/*

# python cache
__pycache__

# local databases
pgdata/*
pgsql/*
*.sqlite?
*.db

# translation files
*.pot
*.mo
