<h2 class="text-center">Deletion anomalies</h2>
<p class="description text-center">
  <em>
    Under certain circumstances, the deletion of data representing certain facts
    necessitates the deletion of data representing completely different facts.
  </em>
</p>
<hr>
<div>
  {{>tbl-anomalies-delete}}
</div>
<div class="notes">
  If a player looses their items completely, the record must be deleted, unless the <code>inventory</code>
  field is set to <code>null</code>. This leads to the loosing all other information about a player.
</div>
