<p class="text-end">
  <em>
    Normalization is a process of organizing data in a database so that it is free from redundancy and dependency.
    It helps to eliminate data inconsistencies and anomalies, thereby improving data integrity.<br>
    Normalization is a set of rules or guidelines to design a database schema in such a way that it avoids data
    duplication, data redundancy, and data inconsistency.
  </em>
</p>
