<div class="grid-wrapper">
  {{>tbl-1nf-itm}}
</div>
<div class="requirements">
  <ul>
    <li class="fly-in">
      <img src="{{passIcon}}" alt="icon-pass" class="icon-req icon-pass">
      Row order should not be used to convey information.
    </li>
    <li class="fly-in">
      <img src="{{passIcon}}" alt="icon-pass" class="icon-req icon-pass">
      Data types should not be mixed within the same column.
    </li>
    <li class="fly-in">
      <img src="{{passIcon}}" alt="icon-pass" class="icon-req icon-pass">
      Tables should have their primary keys.
    </li>
    <li class="fly-in">
      <img src="{{passIcon}}" alt="icon-pass" class="icon-req icon-pass">
      Repeating groups should be eliminated.
    </li>
  </ul>
</div>
