<div class="grid-wrapper">
  {{>tbl-2nf-itm}}
  {{>tbl-2nf-lvl}}
</div>
<div class="requirements">
  <ul>
    <li class="fly-in">
      <img src="{{passIcon}}" alt="icon-pass" class="icon-req icon-pass">
      Each non-key attribute must depend on the entire primary key.
    </li>
  </ul>
</div>
