<div class="grid-wrapper">
  {{>tbl-3nf-lvl}}
  {{>tbl-3nf-rtg}}
</div>
<div class="requirements">
  <ul>
    <li class="fly-in">
      <img src="{{passIcon}}" alt="icon-pass" class="icon-req icon-pass">
      Every non-key attribute in a table should depend on the key, the whole key, and nothing but the key.
    </li>
  </ul>
</div>

