<h2>Third normal form</h2>
<section class="requirements">
  <h3>Requirements</h3>
  <ul>
    <li>
      Every non-key attribute in a table should depend on the key, the whole key, and nothing but the key.
    </li>
  </ul>
</section>
