<h2 class="text-center">
  First<br>
  normal&nbsp;form
</h2>
<div class="requirements fly-in">
  <h3>Requirements</h3>
  <ul>
    <li>
      Row order should not be used to convey information.
    </li>
    <li>
      Data types should not be mixed within the same column.<br>
      <small>(and the RDBMS won't let you do it anyway)</small>
    </li>
    <li>
      Tables should have their primary keys.
    </li>
    <li>
      Repeating groups should be eliminated.
    </li>
  </ul>
</div>
