<h2 class="text-center">
  Second<br>
  normal&nbsp;form
</h2>
<div class="requirements fly-in">
  <h3>Requirements</h3>
  <ul>
    <li>
      Each non-key attribute must depend on the entire primary key.
    </li>
  </ul>
</div>
