<h2 class="text-center">
  Third<br>
  normal&nbsp;form
</h2>
<div class="requirements fly-in">
  <h3>Requirements</h3>
  <ul>
    <li>
      Every non-key attribute in a table should depend on the key, the whole key, and nothing but the key.
    </li>
  </ul>
</div>
