<table class="db-table" aria-label="data">
  <caption>Player Info</caption>
  <thead>
  <tr>
    <th scope="col">name</th>
    <th scope="col">level</th>
    <th scope="col">rating</th>
    <th scope="col">inventory</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>prombery87</td>
    <td class="text-center">7.75</td>
    <td class="text-center">Advanced</td>
    <td class="text-end">1&nbsp;sword, 4&nbsp;rings</td>
  </tr>
  <tr>
    <td class="anomaly">wheed1997</td>
    <td class="text-center anomaly">Almost 7</td>
    <td class="text-center anomaly">Intermediate</td>
    <td class="text-end fade-out"><span class="fade-out">18&nbsp;copper&nbsp;coins</span></td>
  </tr>
  <tr>
    <td>acen1997</td>
    <td class="text-center">1</td>
    <td class="text-center">Beginner</td>
    <td class="text-end">1&nbsp;robe, 1&nbsp;wizard&nbsp;hat</td>
  </tr>
  </tbody>
</table>
