{{! transitive dependencies }}
<table class="db-table" id="tbl-3nf-tdp" aria-label="second normal form table">
  <caption>Player Level</caption>
  <thead>
  <tr id="tbl-3nf-tdp__level">
    <th scope="col" class="primary-key">name</th>
    <th scope="col">level</th>
    <th scope="col">rating</th>
  </tr>
  </thead>
  <tbody>
  <tr id="tbl-3nf-tdp__prombery87">
    <td class="primary-key">prombery87</td>
    <td class="text-center">7</td>
    <td class="text-center">Advanced</td>
  </tr>
  <tr id="tbl-3nf-tdp__wheed1997">
    <td class="primary-key">wheed1997</td>
    <td class="text-center">6</td>
    <td class="text-center">Intermediate</td>
  </tr>
  <tr id="tbl-3nf-tdp__acen1997">
    <td class="primary-key">acen1997</td>
    <td class="text-center">1</td>
    <td class="text-center">Beginner</td>
  </tr>
  </tbody>
</table>
