<table class="db-table" id="tbl-3nf-rtg" aria-label="third normal form table">
  <caption>Level Ranking</caption>
  <thead>
  <tr id="tbl-3nf-rtg__level">
    <th scope="col" class="primary-key">level</th>
    <th scope="col">rating</th>
  </tr>
  </thead>
  <tbody>
  <tr id="tbl-3nf-rtg__1">
    <td class="primary-key">1</td>
    <td>Beginner</td>
  </tr>
  <tr id="tbl-3nf-rtg__2">
    <td class="primary-key">2</td>
    <td>Beginner</td>
  </tr>
  <tr id="tbl-3nf-rtg__3">
    <td class="primary-key">3</td>
    <td>Beginner</td>
  </tr>
  <tr id="tbl-3nf-rtg__4">
    <td class="primary-key">4</td>
    <td>Intermediate</td>
  </tr>
  <tr id="tbl-3nf-rtg__5">
    <td class="primary-key">5</td>
    <td>Intermediate</td>
  </tr>
  <tr id="tbl-3nf-rtg__6">
    <td class="primary-key">6</td>
    <td>Intermediate</td>
  </tr>
  <tr id="tbl-3nf-rtg__7">
    <td class="primary-key">7</td>
    <td>Advanced</td>
  </tr>
  <tr id="tbl-3nf-rtg__8">
    <td class="primary-key">8</td>
    <td>Advanced</td>
  </tr>
  <tr id="tbl-3nf-rtg__9">
    <td class="primary-key">9</td>
    <td>Advanced</td>
  </tr>
  </tbody>
</table>
