{{! repeating groups }}
<table class="db-table" aria-label="data">
  <caption>Player Info</caption>
  <thead>
  <tr>
    <th scope="col">name</th>
    <th scope="col">level</th>
    <th scope="col">rating</th>
    <th scope="col">inventory</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>prombery87</td>
    <td class="text-center">7</td>
    <td class="text-center">Advanced</td>
    <td class="text-end">
      <span class="fade-out">1&nbsp;sword, 4&nbsp;rings</span>
      <span class="fade-in">1&nbsp;sword</span>
    </td>
  </tr>
  <tr>
    <td>wheed1997</td>
    <td class="text-center">6</td>
    <td class="text-center">Intermediate</td>
    <td class="text-end">18&nbsp;copper&nbsp;coins</td>
  </tr>
    <tr>
    <td>prombery87</td>
    <td class="text-center">7</td>
    <td class="text-center">Advanced</td>
    <td class="text-end">4&nbsp;rings</td>
  </tr>
  </tbody>
</table>
