<table class="db-table" aria-label="data">
  <caption>Player Info</caption>
  <thead>
  <tr>
    <th scope="col">name</th>
    <th scope="col">level</th>
    <th scope="col">rating</th>
    <th scope="col">inventory</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>prombery87</td>
    <td class="text-center">7.75</td>
    <td class="text-center">Advanced</td>
    <td class="text-end">1&nbsp;sword, 4&nbsp;rings</td>
  </tr>
  <tr>
    <td>wheed1997</td>
    <td class="text-center">Almost 7</td>
    <td class="text-center">Intermediate</td>
    <td class="text-end">18&nbsp;copper&nbsp;coins</td>
  </tr>
  </tbody>
</table>
