<table class="db-table" id="tbl-3nf-lvl" aria-label="third normal form table">
  <caption>Player Level</caption>
  <thead>
  <tr id="tbl-3nf-lvl__name">
    <th scope="col" class="primary-key">name</th>
    <th scope="col">level</th>
  </tr>
  </thead>
  <tbody>
  <tr id="tbl-3nf-lvl__prombery87">
    <td class="primary-key">prombery87</td>
    <td class="text-center">7</td>
  </tr>
  <tr id="tbl-3nf-lvl__wheed1997">
    <td class="primary-key">wheed1997</td>
    <td class="text-center">6</td>
  </tr>
  <tr id="tbl-3nf-lvl__acen1997">
    <td class="primary-key">acen1997</td>
    <td class="text-center">1</td>
  </tr>
  </tbody>
</table>
