{{! non-key attributes }}
<table class="db-table" id="tbl-2nf-nka" aria-label="first normal form table">
  <caption>Player Inventory</caption>
  <thead>
  <tr id="tbl-2nf-nka__name_item-type">
    <th scope="col" class="primary-key">name</th>
    <th scope="col">level</th>
    <th scope="col">rating</th>
    <th scope="col" class="primary-key">item_type</th>
    <th scope="col">item_quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr id="tbl-2nf-nka__prombery87_sword">
    <td class="primary-key">prombery87</td>
    <td class="text-center">7</td>
    <td class="text-center">Advanced</td>
    <td class="text-end primary-key">sword</td>
    <td class="text-end">1</td>
  </tr>
  <tr id="tbl-2nf-nka__prombery87_ring">
    <td class="primary-key">prombery87</td>
    <td class="text-center">7</td>
    <td class="text-center">Advanced</td>
    <td class="text-end primary-key">ring</td>
    <td class="text-end">4</td>
  </tr>
  <tr id="tbl-2nf-nka__wheed1997_copper-coin">
    <td class="primary-key">wheed1997</td>
    <td class="text-center">6</td>
    <td class="text-center">Intermediate</td>
    <td class="text-end primary-key">copper&nbsp;coin</td>
    <td class="text-end">18</td>
  </tr>
  <tr id="tbl-2nf-nka__acen1997_robe">
    <td class="primary-key">acen1997</td>
    <td class="text-center">1</td>
    <td class="text-center">Beginner</td>
    <td class="text-end primary-key">robe</td>
    <td class="text-end">1</td>
  </tr>
  <tr id="tbl-2nf-nka__acen1997_wizard-hat">
    <td class="primary-key">acen1997</td>
    <td class="text-center">1</td>
    <td class="text-center">Beginner</td>
    <td class="text-end primary-key">wizard&nbsp;hat</td>
    <td class="text-end">1</td>
  </tr>
  </tbody>
</table>
