/**
  *****************************************************************************
               Database Normalization - Presentation Stylesheet
  *****************************************************************************

 */

@import "./colors";
@import "./presentation-common";

/**
  Presentation related styles
 */
main#normalization {
  thead {
    background-color: $gray-600; // todo: adjust styling
    color: $on-gray-600; // todo: adjust styling
  }

  #anomalies-insert.future {
    .anomaly {
      color: inherit;
    }

    .fly-in {
      opacity: 0.0;
      transform: translateY(2000px);
    }
  }

  #anomalies-insert.present {
    .anomaly {
      transform: translateY(25px) rotate(7.5deg);
      color: var(--invalid-data);
      transition: 5000ms;
      transition-delay: 5000ms;
    }

    .fly-in {
      opacity: 1.0;
      transform: translateY(0);
      transition: 2500ms;
      transition-delay: 2500ms;
    }
  }

  #anomalies-insert.past {
    .anomaly {
      transform: translateY(25px) rotate(7.5deg);
      color: var(--invalid-data);
    }
  }

  #anomalies-update {
    .updated-data {
      position: fixed;
      transform: translate(-50%, -50%);
    }
  }

  #anomalies-update.future {
    .fade-in {
      opacity: 0.0;
    }

    .fade-out {
      opacity: 1.0;
    }

    .anomaly {
      border-width: 0.01rem;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.0);
    }
  }

  #anomalies-update.present {
    .fade-out {
      opacity: 0.0;
      transition: 4000ms;
      transition-delay: 2000ms;
    }

    .fade-in {
      opacity: 1.0;
      transition: 4000ms;
      transition-delay: 5000ms; // one second before fade-out transition ends
    }

    .anomaly {
      color: var(--invalid-data);
      border-width: 0.1rem;
      border-style: solid;
      border-color: var(--invalid);
      transition: 3000ms;
      transition-delay: 7000ms;
    }
  }

  #anomalies-update.past {
    .fade-in {
      opacity: 1.0;
    }

    .fade-out {
      opacity: 0.0;
    }

    .anomaly {
      color: var(--invalid-data);
      border-width: 0.1rem;
      border-style: solid;
      border-color: var(--invalid);
    }
  }

  #anomalies-delete.future {
    .fade-out {
      opacity: 1.0;
    }

    .anomaly {
      color: inherit;
    }
  }

  #anomalies-delete.present {
    .fade-out {
      opacity: 0.0;
      transition: 2500ms;
      transition-delay: 2500ms;
    }

    .anomaly {
      color: var(--invalid-data);
      transition: 3000ms;
      transition-delay: 3000ms;

      &:nth-child(odd) {
        transform: rotate(-7deg);
      }

      &:nth-child(even) {
        transform: rotate(7deg);
      }
    }
  }

  #anomalies-delete.past {
    .fade-out {
      opacity: 0.0;
    }

    .anomaly {
      color: var(--invalid-data);

      &:nth-child(odd) {
        transform: rotate(-7deg);
      }

      &:nth-child(even) {
        transform: rotate(7deg);
      }
    }
  }

  #req-1nf.future {
    .fly-in {
      opacity: 0.0;
      transform: translateX(-2000px);
    }
  }

  #req-1nf.present {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
      transition: 1500ms;
      transition-delay: 500ms;
    }
  }

  #req-1nf.past {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
    }
  }

  #req-2nf.future {
    .fly-in {
      opacity: 0.0;
      transform: translateY(2000px);
    }
  }

  #req-2nf.present {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
      transition: 1500ms;
      transition-delay: 500ms;
    }
  }

  #req-2nf.past {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
    }
  }

  #req-3nf.future {
    .fly-in {
      opacity: 0.0;
      transform: translateX(2000px);
    }
  }

  #req-3nf.present {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
      transition: 1500ms;
      transition-delay: 500ms;
    }
  }

  #req-3nf.past {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
    }
  }

  #example-1nf,
  #example-2nf,
  #example-3nf {
    ul {
      list-style: none;
    }
  }

  #example-2nf,
  #example-3nf {
    .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #example-1nf.future,
  #example-2nf.future,
  #example-3nf.future {
    .fly-in {
      opacity: 0.0;
      transform: translateY(2000px);
    }
  }

  #example-1nf.present,
  #example-2nf.present,
  #example-3nf.present {
    .fly-in {
      opacity: 1.0;
      transform: translate(0);
      transition: 1000ms;

      &:nth-child(1) {
        transition-delay: 700ms;
      }

      &:nth-child(2) {
        transition-delay: 620ms;
      }

      &:nth-child(3) {
        transition-delay: 550ms;
      }

      &:nth-child(4) {
        transition-delay: 500ms;
      }
    }
  }
}
