/**
  *****************************************************************************
                         Common Presentation Stylesheet
  *****************************************************************************

 */

/**
  Colors palette
  ==============
 */

// todo: add colors palette

/**
  Sizing and alignments
  =====================
 */

// items sizing

html {
  font-size: 2.5rem;

  body {
    font-size: 1em;
  }

  small {
    font-size: 0.75em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }
}

// align items and content

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/**
  Impress fallback messages
  =========================

  Fallback message is only visible when there is `impress-not-supported` class
  on body. This class means, that browser doesn't support features required by
  impress.js framework.

  If the script detects that browser supports all required features, this class
  will be removed.
 */

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 740px;
  padding: 20px;
  margin: 20px auto;

  border: 1px solid #E4C652; // todo: set up color using palette
  border-radius: 10px;
  background: #EEDC94; // todo: set up colo using palette

  p {
    margin-bottom: 10px;
  }
}

.impress-supported {
  .fallback-message {
    display: none;
  }
}

// if impress.js isn't supported hide all presentation steps,
// except the first one
.impress-not-supported {
  .step:not(.step:first-of-type) {
    display: none;
  }
}

/**
  Common presentation styles
  ==========================
 */

#impress {
  .overview {
    display: none !important;
  }

  .step {
    min-width: 600px;
    min-height: 400px;

    width: 1800px;
  }
}
